@charset "UTF-8";

/* ----------------------------------------------------------
  Translate button
---------------------------------------------------------- */

.wpu-pll-translate-btn {
    box-sizing: border-box;
    margin: 0 0 0 0.3em;
    padding: 0 0.5em;vertical-align: middle;
    border: 1px solid;
    border-radius: 3px;
    line-height: 2;
    transition: all 0.3s ease;
    cursor: pointer;
}

#string-translation .translation .is-loading {
    opacity: 0.3;
    pointer-events: none;
}

#string-translation .translation {
    align-items: center;
}
